<div class="sidenav" [class.active]="isActive">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" style="margin-top: 60px;">Home</a>
  <a [routerLink]="['/consultar-filmes-por-diretor']" routerLinkActive="router-link-active">Diretor e seus filmes</a>
  <a [routerLink]="['/consultar-filmes-por-ano']" routerLinkActive="router-link-active">Buscar filmes por ano</a>
  <a [routerLink]="['/consultar-diretores-por-filme']" routerLinkActive="router-link-active">Buscar diretores por
    filme</a>
  <a [routerLink]="['/adicionar-filme']" routerLinkActive="router-link-active">Adicionar filme</a>
  <!-- <a href="#">Serviços</a> -->
  <!-- <a href="#">Contato</a> -->
</div>
<button class="toggle-btn" (click)="toggleSidenav()">☰</button>
